<!doctype html>
<html>
  <head>
    <title>{% block title %}base{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    {% block extra_css %}{% endblock extra_css %}
    <!-- Bootstrap -->
  </head>

  <body>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'home' %}">
            Recall
        </a>

        <!-- Mobile toggle -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar"
                aria-controls="mainNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="mainNavbar">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    {% comment %} <a class="nav-link" href="{% url 'review' %}"> {% endcomment %}
                        Review Material
                    </a>
                </li>

            </ul>

            <!-- Authentication -->
            <div class="d-flex">

                {% if user.is_authenticated %}

                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">
                            Logout
                        </button>
                    </form>

                {% else %}

                    <a href="{% url 'login' %}"
                       class="btn btn-outline-primary">
                        Login
                    </a>

                {% endif %}

            </div>

        </div>
    </div>
</nav>
    <main class="container py-4">{% block content %} {% endblock %}</main>



  </body>
</html>
