<!doctype html>
<html>
  <head>
    <title>{% block title %}base{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    {% block extra_css %}{% endblock extra_css %}
    <!-- Bootstrap -->
  </head>

  <body>
    <main class="container py-4">{% block content %} {% endblock %}</main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
